.course-item {
    &-img {
        height: auto;
        width: 27rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    &-name {
        margin: 0.8rem 0 0 0;
        font-size: 1.6rem;
    }

    &-author {
        margin-bottom: 0;
        font-size: 1.2rem;
        color: #c4c6c9;
    }

    &-rating {
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        & .average {
            font-weight: 700;
            color: #b4690e;
        }

        & .star-ratings {
            margin: 0 5px 5px 5px;
        }

        & .count {
            color: #6a6f73;
        }
    }

    &-price {
        font-size: 1.6rem;
    }
}
