.review-item {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    border-bottom: 1px solid #d1d7dc;

    &-img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
    }

    &-rating {
        display: flex;
        align-items: center;

        & .date {
            margin-left: 0.7rem;
            font-size: 1.4rem;
            color: #6a6f73;
        }
    }

    &-description {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
}
